<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skapa</title>
</head>
<body>
    <form action="" method="post">
        <label for="form_author">Författare</label>
        <input type="text" name="Author" id="form_author" value="{{ .Post.Author }}">
        <label for="form_content">Innehåll</label>
        <input type="text" name="Content" id="form_content" value="{{ .Post.Content }}">
        <input type="submit" value="Spara">
    </form>
</body>
</html>