<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/create">Nytt inlägg</a>
        <p id="time"></p>
    </header>
    <hr>
    <div class="posts">
        {{range .posts}}
        <div class="post">
            <p class="content">{{ .Content }}</p>
            <p class="author" style="font-style: italic;">{{ .Author }}</p>
            <p class="created"><code>{{ .Created  }}</code></p>
            <p class="modified"><code>{{ .Modified }}</code></p>
            <a href="/post/{{ .Id }}">Ändra</a>
            <a href="/delete/{{ .Id }}">Ta bort</a>
        </div>
        {{end}}
    </div>
    <hr>
    <footer><p>Copyright SVT 1996</p><a href="https://web.archive.org/web/19961018092903/http://www.svt.se:80/" target="_blank"><img src="/images/svt.gif" alt=""></a></footer>
    <script defer>
        let t = document.getElementById("time")
        setInterval(()=>{
            t.innerText = new Date().toLocaleString();
        },1000)
    </script>
</body>
</html>