<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppdatera</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="" method="post">
        <label for="form_author">Författare</label>
        <input type="text" name="Author" id="form_author" value="{{ .Post.Author }}">
        <br>
        <label for="form_content">Innehåll</label>
        <textarea type="text" name="Content" id="form_content" rows="5" cols="40" value="{{ .Post.Content }}"></textarea>
        <br>
        <label for="form_created">Skapad:</label>
        <input type="text" readonly name="" id="form_created" value="{{ .Post.Created }}">
        <br>
        <input type="submit" value="Spara">
    </form>
</body>
</html>